<div class="container-fluid" style="margin-top:-13vh;">
    <div class="row">
        <div class="d-flex justify-content-center">
            <img src="https://user-images.githubusercontent.com/48177875/145854175-6161ff3a-d9e1-4b8f-82ae-84f1c0318f07.png" class="img-fluid" alt="Responsive image">
        </div>
        <h2 class="text-center" style="color:#3f3d56;">Success! You are ready to go!</h2>
    </div>
</div>
